

body {
    font-family: 'Outfit', sans-serif;
    background-color: #d9d9d9;
    overflow-x: hidden; 
}
nav{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin: 0;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}
nav ul li {
    display: inline;
    margin-right: 90px;
    background-color: rgb(9, 192, 192);
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s ease;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li:hover{
    transform: scale3d(1.1, 1.1, 1);
    
}
#nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#nav-toggle span {
    height: 2px;
    width: 25px;
    background: rgb(9, 192, 192);
    margin: 4px 0;
    transition: all 0.3s;
}

#nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    transition: transform 1s ease-in-out;
    position: absolute;
    left: -100%;
    top: 50px;
    background-color: rgba(235, 238, 200, 0.8); /* Semi-transparent background for better visibility */
    width: 100%;
    flex-direction: column;
}

#nav-menu.show {
    transform: translateX(100%);
}

#nav-menu li {
    margin: 10px 0;
    text-align: center;
    background-color: rgb(9, 192, 192);
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s ease;
}

#nav-menu li a {
    color: #ffffff;
    text-decoration: none;
}


#video-background {
    position: absolute;
    top: 50px;
    left: 60%;
    z-index: -1;
    filter: brightness(130%) contrast(70%) ;
    overflow: hidden !important;
}


.Huge{
    font-size: 60px;
}
.txt{
    text-align: left;
    padding: 20px;
    font-size: 30px;
    margin-top: 150px;
    
}
.textimage{
    display: flex;
    align-self: center;
    margin-top: 50px;
    padding: 10px;
}
.textimage img {
    width: 430px;
    border-radius: 20px; 
    margin-right: 170px;     
}
#portfolio{
margin: 0;
}
.projects{
    font-size: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Allows projects to wrap to the next line if necessary */
    gap: 20px; /* Space between projects */
    
}
.projects > p {
    flex-basis: 100%; /* Ensure the introductory text spans the full width */
}
.project1 , .project2 ,.project3 {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 27px;
}
.project1 img ,.project2 img ,.project3 img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    
}
.project1 a, .project2 a, .project3 a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px;
}
.Githublink {
    margin-top: 90px;
   
    
}
.Githublink a{
    color: rgb(101, 125, 192);
    font-size: 20px;
    text-align: center;
}
.project1 , .project2 ,.project3 :hover{
    cursor: pointer;
}
.intro{
    font-size: 25px;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
}
.abouttxt{
    font-size: 45px;
    margin: 20px;
    text-align: center;
    
}
#about{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.backpic img {
    z-index: -1;
    position: absolute;
    width: 100% !important;
    padding: 30px;
    right: 0;
    transform: translateX(0) !important;
    overflow: hidden !important;
    margin-top: -200px;
}
.casing{
    display: flex;
}
.casing p {
    width: 500px;
    font-size: 30px;
}
#about img{
    width: 400px;
    margin-right: 70px;
    border-radius: 20px;
}
#contact{
    padding: 30px;
}
.contacttxt{
    font-size: 30px;
}
form{
    height: 80vh;
    width: 35vw;
    padding: 20px;
    margin-left: 450px;
    font-family:'Outfit', sans-serif !important  ;
  }
  
  
  
 
  
  label {
    display: block; 
    margin: 10px;
    
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
  }
  
  
  button {
    width: 100%;
    padding: 10px;
    background-color:rgb(9, 192, 192);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    
  }
  
  
  button:hover {
    background-color: #0084ff;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #19d819;
    transform: scale(1); 
  }
  
/* -----------------------------------------------Responsive---------------------------------------------- */
@media (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
   
    nav ul li {
        margin-right: 40px;
        
    }

    #video-background {
        transform: translateX(-23%);
        overflow: hidden !important;
    }
    .project1 , .project2 ,.project3 {
        width: 260px;
        height: 400px;
       
    }
    .project1 img ,.project2 img ,.project3 img{
        width: 100%;
        height: 250px;
       
        
    }
    .textimage img {  
        border-radius: 20px; 
        margin-right: 170px;     
    }
    .Githublink {
        margin-top: 30px;
    }
    .project1 a, .project2 a, .project3 a {  
        font-size: 20px;  
    }
    form{
        transform: translateX(-50%);
    }
}
/* ---------------------------------------------------responsive 2----------------------------------------------- */
 @media (max-width: 768px){ 
    body{
        overflow-x: hidden;
    }
    nav{
        width: 100%;
    }
    nav ul li {
        margin-left: 30px;
    }
    .Huge{
        font-size: 40px;
    }
    .txt{
        font-size: 20px;
        margin-top: 70px;
    }
    .textimage img{
        width: 300px;
        margin-right: 80px;
    }
    #video-background {
        transform: translateX(-3%);
        overflow: hidden !important;
        width: 50%;

    }
    .casing p {
        width: 300px;
        font-size: 20px;
    }
    .project1 , .project2 ,.project3 {
        width: 170px;
        height: 320px;
       
    }
    .project1 img ,.project2 img ,.project3 img{
        width: 100%;
        height: 150px;
       
        
    }
    .Githublink {
        margin-top: 24px;
    }
    .project1 a, .project2 a, .project3 a {  
        font-size: 14px;  
    }
    #about img{
        width: 320px;
    }
    form{
        transform: translateX(-70%);
    }
 }
 /* -----------------------------------------------------------responsive 3------------------------------------------- */
 @media (max-width: 480px) {
    #nav-toggle {
        display: flex;
    }

    #nav-menu {
        transform: translateX(-100%);
        z-index: 1;
    }

    #nav-menu.show {
        transform: translateX(20);
    }

    #nav-menu li {
        margin: 20px 0;
        text-align: center;
    }
    .textimage{
        display: block;
    }
    .textimage img{
        width: 300px;
        transform: translateX(20%);
    }
    .project1 , .project2 ,.project3 {
        width: 300px;
        height: 420px;
        transform: translateX(15%);
       
    }
    .project1 img ,.project2 img ,.project3 img{
        width: 100%;
        height: 270px;
       
        
    }
    .casing{
        display: block;
        transform: translateX(10%);
    }
    #about img{
        width: 320px;
       
    }
    .backpic img{
        transform: translatey(20%) !important;
        left: 0%;
        margin-top: 0 !important;
        height: 1000px !important;
        overflow: hidden !important;
    }
    
    #video-background {
        transform: translateX(-40%);
        top: 90%;
        overflow: hidden !important;
        width: 300px;
       

    }
    form{
        transform: translateX(4%);
        margin-left: 0;
        width: 100%;
    }
    
}
@media (max-width: 420px){
    #nav-toggle {
        display: flex;
    }

    #nav-menu {
        transform: translateX(-100%);
        z-index: 1;
    }

    #nav-menu.show {
        transform: translateX(20);
    }

    #nav-menu li {
        margin: 20px 0;
        text-align: center;
    }
    .textimage{
        display: block;
    }
    .textimage img{
        width: 300px;
        transform: translateX(20%);
    }
    .project1 , .project2 ,.project3 {
        width: 300px;
        height: 420px;
        transform: translateX(15%);
       
    }
    .project1 img ,.project2 img ,.project3 img{
        width: 100%;
        height: 270px;
       
        
    }
    .casing{
        display: block;
        transform: translateX(10%);
    }
    #about img{
        width: 320px;
       
    }
    .backpic img{
        transform: translatey(20%) !important;
        left: 0%;
        margin-top: 0 !important;
        height: 1000px !important;
        overflow: hidden !important;
    }
    
    #video-background {
        transform: translateX(-40%);
        top: 90%;
        overflow: hidden !important;
        width: 300px;
       

    }
    form{
        transform: translateX(4%);
        margin-left: 0;
        width: 100%;
    }
    
}
