

body {
    font-family: 'Outfit', sans-serif;
    background-color: #d9d9d9;
}
nav{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin: 0;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}
nav ul li {
    display: inline;
    margin-right: 90px;
    background-color: rgb(9, 192, 192);
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s ease;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li:hover{
    transform: scale3d(1.1, 1.1, 1);
    
}

#video-background {
    position: absolute;
    top: 50px;
    left: 60%;
    z-index: -1;
    filter: brightness(130%) contrast(70%) ;
}


.Huge{
    font-size: 60px;
}
.txt{
    text-align: left;
    padding: 20px;
    font-size: 30px;
    margin-top: 150px;
    
}
.textimage{
    display: flex;
    align-self: center;
    margin-top: 50px;
    padding: 10px;
}
.textimage img {
    width: 430px;
    border-radius: 20px; 
    margin-right: 170px;     
}
#portfolio{
margin: 0;
}
.projects{
    font-size: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Allows projects to wrap to the next line if necessary */
    gap: 20px; /* Space between projects */
    
}
.projects > p {
    flex-basis: 100%; /* Ensure the introductory text spans the full width */
}
.project1 , .project2 ,.project3 {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 27px;
}
.project1 img ,.project2 img ,.project3 img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    
}
.project1 a, .project2 a, .project3 a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px;
}
.Githublink {
    margin-top: 90px;
   
    
}
.Githublink a{
    color: rgb(101, 125, 192);
    font-size: 20px;
    text-align: center;
}
.project1 , .project2 ,.project3 :hover{
    cursor: pointer;
}